/*
    Recommeded CSS
    ==============
*/

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

/*
    Demo Specific Styles
    ====================
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #101820;
    line-height: 1.5;
}

.panel {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: #101820;
}

.wrap {
    position: relative;
    padding: 20px;
    background-color: #eee;
    width: 100%;
}

.panel ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.panel a:link, .panel a:visited, .panel a:hover, .panel a:active {
    color: #fff;
    text-decoration: none;
    padding-left: 8px;
    line-height: 30px;
}

.panel li {
    padding: 10px 0 10px 10px;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
}

.panel li div {
    display: inline-block;
}
