/*
    Recommeded CSS
    ==============
*/

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
    top: 0;
    bottom: 0;
    height: 100%;
}

.panel, .push {
    -webkit-transition: all 300ms ease; /*set your prefered speed here*/
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.panel.open {
    left: 0;
}

.panel.closed {

}

.panel.semiOpen {
    left: 0;
    width: 4em; /*set the prefered semiOpen width*/
}

.panel.semiOpen .hiddenThin {
    display: none;
}


.wrap.open {

}

.wrap.closed {

}

.wrap.semiOpen {
    left: 4em;
}

.shrink.open {
    width: calc(100% - 15.625em);
}

.shrink.closed {
    width: 100%;
}

.shrink.semiOpen {
    width: calc(100% - 4em);
}

.push.open {
    left: 15.625em;
}

.push.closed {
    left: 0;
}

.push.semiOpen {

}

/*
    Demo Specific Styles
    ====================
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #101820;
    line-height: 1.5;
}

.panel {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: #101820;
}

.wrap {
    position: relative;
    padding: 20px;
    background-color: #eee;
    width: 100%;
}

.panel ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.panel a:link, .panel a:visited, .panel a:hover, .panel a:active {
    color: #fff;
    text-decoration: none;
    padding-left: 8px;
    line-height: 30px;
}

.panel li {
    padding: 10px 0 10px 10px;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
}

.panel li div {
    display: inline-block;
}
